# Docker
#USER_ID=1000

#DELVE_PORT=8001
#COCKROACHDB_CONSOLE_PORT=8080

# Application
APP_ENV=development
APP_DEBUG=true

#HTTP_PORT=8000
#HTTP_TRUSTED_PROXIES=

COCKROACHDB_HOST=cockroachdb
#COCKROACHDB_PORT=26257
COCKROACHDB_USER=root
COCKROACHDB_PASSWORD=
COCKROACHDB_DATABASE=defaultdb
COCKROACHDB_TLS_MODE=disable

HCAPTCHA_SECRET=0x0000000000000000000000000000000000000000
